<?xml version="1.0"?>
<launch>

    <arg name="astrid" default="$(find astrid-simulation)/urdf/robot.urdf.xacro" />
    <param name="robot_description" command="xacro --inorder '$(arg astrid)'" />

    <node name="vehicle_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      </node>

    <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
        <param name="rate" value="30" />
        <param name="use_gui" value="true" />
      </node>
    <node name="rviz" pkg="rviz" type="rviz" />
</launch>